{% extends 'base.html.twig' %}

{% block title %}Detail de la commande{% endblock %}

{% block main %}
        <div style="height:20px;width:20px; color:red;"></div>
        {% for command in commande %}
        <div style="height:20px;width:20px; color:red;"></div>
        <div class="row">
            <div class="col-l-2">
                {{command.idCommande}}
            </div>
            <div class="col-l-4">
                {{command.montant}}
            </div>
            <div class="col-l-4">
                {{command.nomUtilisateur}}
            </div>
        </div>
        {% endfor %}
        {% for produit in produits %}
        <div style="height:20px;width:20px; color:red;"></div>
        <div class="row">
            <div class="col-l-2">
                {{produit.idProduit}}
                {{produit.quantite}}
                {{produit.nomProduit}}
            </div>
        </div>
        {% endfor %}
    
{% endblock %}


