{% extends 'base.html.twig' %}

{% block title %}
    {% if produit %}
        {{ produit.nomProduit }}
    {% endif %}
{% endblock %}

{% block main %}

    {% for produit in produit %}
        <p>{{ produit.nomProduit }}</p>
        <p>{{ produit.description }}</p>
        <p>{{ produit.tarifUnitaire }}€</p>
    {% endfor %}
    {% for producteur in producteur %}
        <p><a href = {{ url_for('detailproducteur', {'producteur' : producteur.idUtilisateur }) }}>{{ producteur.nomUtilisateur }}</a></p>
    {% endfor %}

{% endblock %}


