{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block header %}
    {% include 'navbar.html.twig' %}
{% endblock %}

{% block main %}
<div class="content-column">
    <h1>Liste des produits</h1>
    <div class="dropdown">
            <button class="dropbtn">Trier par
                <i class="fa fa-caret-down"></i>
            </button>
        {% for categorie in categorie %}
            <div class="dropdown-content">
                <a href={{ url_for('recherchecategorie', {'categories' : categorie.idCategorie })}}>
                    {{ categorie.nomCategorie }}
                </a>
            </div>
        {% endfor %}
    </div>

    <div class="content-list">
    {% for recherche in recherche %}
            <div class="content-product">
                <div class="content-product-photo">
                    <img src={{ base_path() }}"/images/logo_2.png">
                </div>
                <div class="content-product-details">
                    <form method="#" action="#">
                        <br>
                        <p class="product-name">{{ recherche.nomProduit }}</p>
                        <br>
                        <p>Quantité (par kg)<input type="text" class="poids" name="poids"></p>
                        <div class="content-details-button">
                            <button class="btn-add">Ajouter au panier</button>
                            <button class="btn-detail">
                                <a href={{ url_for('detailproduit', {'produit' : recherche.idProduit }) }}>
                                    Voir le détail
                                </a>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
    {% endfor %}
    </div>
</div>


{% endblock %}


